/*
*** Base css.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 Arial, sans-serif;
    color: #222;
    padding-top: 56px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

/* Responsive */

/* Min-width: 700px */
@media screen and (min-width: 700px) {
    body {
        font-size: 16px;
    }
    
    .container {
        padding: 1.5rem;
    }
}

/* Max-width: 699px */
@media screen and (max-width: 699px) {
    body {
        font-size: 15px;
    }
    
    .container {
        padding: 1rem;
    }
}

/* Max-width: 570px */
@media screen and (max-width: 570px) {
    body {
        font-size: 14px;
        padding-top: 52px;
    }
    
    .container {
        padding: 0.75rem;
    }
}

/* Min-width: 465px AND Max-width: 570px */
@media screen and (min-width: 465px) and (max-width: 570px) {
    body {
        font-size: 14.5px;
    }
    
    .container {
        padding: 1rem;
    }
}