/* =============== Base CSS =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 Arial, sans-serif;
    color: #222;
    padding-top: 56px;
}

.container {
    max-width: 1234px;
    margin: 0 auto;
    padding: 1rem;
}

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* =============== Header CSS =============== */

.header {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 70;
    border-bottom: 1px solid #eaeaea;
}

.nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    padding: 0 0.18rem;
    font-weight: bold;
    color: #5ba4fc;
}

/* Menu center */
.nav_menu .nav_list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0 1rem;
}

/* Menu phải */
.nav_right .nav_item_right {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav_list .nav_item,
.nav_item_right .nav_link {
    transition: all 0.3s ease;
}

.nav_list .nav_item:hover,
.nav_item_right .nav_link:hover {
    transform: translateY(-3px);
}

/* Link */
.logo,
.nav_link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav_link {
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
}

/* Tên user */
.nav_name {
    font-weight: bold;
    color: grey;
    margin-right: 0.5rem;
}

.icon {
    font-size: 20px;
}

/* Nav search */
.nav_search {
    position: relative;
    display: flex;
    background: #fff;
    max-width: 300px;
    width: 90%;
    margin: 0 1.2rem;
    justify-content: center; /* căn giữa ngang */
    align-items: center;
}

.nav_search input{
    flex: 1;
    min-width: 100px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: width 0.3s ease;
    align-items: center;
    padding: 8px 35px 8px 12px;
}

.nav_search a {
    position: absolute;
    right: 10px;
    color: #666;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.nav_search a:hover {
    color: #000;
}

/* =============== Footer CSS =============== */

.footer {
    padding: 2rem 0;
    background: #f5f5f5;
    border-top: 1px solid #e2e2e2;
}

.footer_container {
    display: grid;
    gap: 2rem;
    max-width: 1234px;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-width: 450px;
}

.footer_title {

}

.footer_links {
    list-style: none;
    display: grid;
    gap: 0.25rem;
}

.footer_followus {
    display: inline;
}

.footer_icon {
    font-size: 24px;
    padding-right: 0.35rem;
    color: #222;
}

.footer_link {
    color: #222;
    text-decoration: none;
}

.footer_info {
    margin-top: 2rem;
    text-align: center;
}

.footer_copy {
    font-size: 14px;
    color: #888;
}

.footer a{
    line-height: 150%;
    transition: 0.3s all;
    display: inline-block;
}

.footer a:hover {
    transform: translateX(5px);
}

/* ===== Responsive ===== */

/* Min-width: 800px */
@media screen and (min-width: 800px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 1.5rem;
    }
    .nav {
        height: 56px;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav_menu .nav_list {
        display: flex;
        gap: 1rem;
        font-size: 13.5px;
    }

    .nav_search {
        display: block;
        font-size: 20px;
        font-weight: bold;
    }

    .nav_right .nav_item_right {
        gap: 1rem;
        font-size: 13.5px;
    }
    .nav_link {
        padding: 0.3rem 0.3rem;
    }
    .icon {
        font-size: 20px;
    }

    .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer_content {
        grid-template-columns: repeat(4, 1fr);
        min-width: auto;
    }
    
    .footer_info {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
}

/* Max-width: 699px */
@media screen and (max-width: 799px) {
    body {
        font-size: 15px;
    }
    .container {
        padding: 1rem;
    }
    .nav {
        height: 56px;
    }
    .logo {
        font-size: 1.35rem;
    }
    .nav_menu .nav_list {
        gap: 0.75rem;
        font-size: 13px;
    }
    .nav_right .nav_item_right {
        gap: 0.75rem;
        font-size: 13px;
    }
    .nav_link {
        padding: 0.25rem 0.25rem;
    }
    .nav_name {
        font-size: 14px;
    }
    .icon {
        font-size: 19px;
    }

    .nav_search {
        display: none;
        font-size: 20px;
        font-weight: bold;
    }

}

/* Max-width: 570px */
@media screen and (max-width: 570px) {
    body {
        font-size: 14px;
        padding-top: 52px;
    }
    .container {
        padding: 0.75rem;
    }
    .nav {
        height: 52px;
    }
    .logo {
        font-size: 1.25rem;
    }
    .nav_menu .nav_list {
        gap: 0.5rem;
        font-size: 3px;
    }
    .nav_right .nav_item_right {
        gap: 0.5rem;
        font-size: 13px;
    }
    .nav_link {
        padding: 0.2rem 0.2rem;
    }
    .nav_name {
        display: none;
    }
    .icon {
        font-size: 18px;
    }

    .nav_search {
        display: none;
        font-size: 20px;
        font-weight: bold;
        width: 88%;
    }

}

/* Min-width: 465px AND Max-width: 570px */
@media screen and (min-width: 465px) and (max-width: 570px) {
    body {
        font-size: 14.5px;
    }
    .container {
        padding: 1rem;
    }
    .logo {
        font-size: 1.3rem;
    }
    .nav_menu .nav_list {
        gap: 0.6rem;
    }
    .nav_link {
        padding: 0.22rem 0.22rem;
    }
    .nav_search {
        display: none;
        font-size: 20px;
        font-weight: bold;
        width: 88%;
    }

    .footer_content {
        grid-template-columns: repeat(4, 1fr);
    }

}
